html,body{
	margin:0;
	padding:0;
	height:100vh;
	font-size:3vh;
	background-color:var(--body-background);
}
h1,h2,h3,p{
	margin:0;
	padding:0;
}
h1{
	font-family:var(--police_h1),var(--police_defaut);
	font-size:1rem;
}
h2{
	font-family:var(--police_defaut);
	font-size:0.6rem;
}
h3,p{
	font-family:var(--police_defaut);
	font-size:0.5rem;
}
header{
	width:100vw;
	position:fixed;
	background-color:var(--body-background);
}
header section{
	height:11vh;
	position:relative;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	z-index:100;
	background-color:#f00;
}
header section h3{
	color:#f08c00;
}
header section h1{
	margin-top:0.5%;
	color:var(--color_h1);
	-webkit-text-stroke:0.03em var(--color_h1_border);
	text-shadow:
	0.03em 0.03em 0 var(--color_h1_text-shadow1),
	0.06em 0.06em 0 var(--color_h1_text-shadow2),
	0.09em 0.09em 0 var(--color_h1_text-shadow3),
	0.12em 0.12em 0.05em rgba(0,0,0,0.5);
}
#retour{
	height:5vh;
	aspect-ratio:1 / 1;
	right:5vh;
	position:absolute;
	transform:rotate(45deg);
	cursor:pointer;
	background-color:var(--color_h1_losange_retour);
}
footer{
	height:13vh;
	/*border-radius:50% 50% 0 0 / 10% 10% 0 0;*/
	font-family:var(--police_defaut);
	background-color:var(--color_footer);
}
#averticement{
	height:50%;
	padding-top:0.5%;
	display:flex;
	flex-direction:column;
	align-items:center;
	/*background-color:#0f0;*/
}
#averticement p{
	height:50%;
	padding-top:0.2%;
	text-align:center;
}
#contact{
	height:50%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:0 1vw 0 1vw;
	/*background-color:#00f;*/
}
#text_contact{
	display:flex;
	flex-direction:column;
	/*background-color:#f00;*/
}
#icone_contact{
	height:100%;
	display:flex;
	align-items:center;
	gap:0.7vw;
	/*background-color:#f00;*/
}
footer section article img{
	height:50%;
	aspect-ratio:1 / 1;
	cursor:pointer;
	/*background-color:#fff;*/
}